<footer class="bg-white py-3 mt-auto">
    <div class="flex justify-center justify-items-center">
        <span class="text-sm text-blue-900 text-center">&copy NVNTRY 2022. Made by William Luna</span>
    </div>
</footer>