<nav class="p-5 bg-white shadow sticky flex justify-between items-center">
    <div>
        <span class="text-2xl font-bold text-blue-900"><a href="/">NVNTRY</a></span>
    </div>
    <ul class="flex items-center">
        <% if (!currentUser) { %>
            <li class="mx-3.5"><a href="/login" class="text-2xl hover:text-blue-900 duration-500">Login</a></li>
            <li class="mx-3.5"><a href="/register" class="text-2xl hover:text-blue-900 duration-500">Register</a></li>
            <% } else { %>
                <li class="mx-3.5"><a href="/items" class="text-2xl hover:text-blue-900 duration-500">Dashboard</a>
                </li>
                <li class="mx-3.5"><a href="logout" class="text-2xl hover:text-blue-900 duration-500">Logout</a></li>
                <% } %>
    </ul>
</nav>