<nav class="p-5 bg-white shadow sticky flex justify-between items-center">
    <div>
        <span class="text-2xl font-bold text-blue-900">NVNTRY</span>
    </div>
    <ul class="flex items-center">
        <li class="mx-3.5"><a href="#" class="text-2xl hover:text-blue-900 duration-500">Home</a></li>
        <% //TODO User Implementation %>
        <% // if (!isLoggedIn) { %> 
        <li class="mx-3.5"><a href="#" class="text-2xl hover:text-blue-900 duration-500">Login</a></li>
        <li class="mx-3.5"><a href="#" class="text-2xl hover:text-blue-900 duration-500">Register</a></li>
        <%// } else { %> 
        <li class="mx-3.5"><a href="#" class="text-2xl hover:text-blue-900 duration-500">Logout</a></li>
        <%// } %> 
    </ul>
</nav>