<% layout('layouts/boilerplate')%>
    <div class="flex justify-center justify-items-center my-24">
        <div class="block animate-fade text-white text-2xl font-bold">Keep track of your items and sales with ease
            using NVNTRY.</div>
        <div class="text-xl text-white">Register now</div>
    </div>