<% layout('layouts/boilerplate')%>
    <h1 class="text-white">All Items</h1>

    <div class="text-white">
        <ul>
            <% for(let item of items) { %>
                <li>
                    <%= item.id %>
                        <%= item.title %>
                </li>
                <% } %>
        </ul>
    </div>